<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Cat Facts</title>        
    </head>
    <body>
        <h2>{{ '10 Random Cat Facts'|t }}</h2>
        <ul>           
            {% for item in items %}
                {% trans %}
                    <li>{{ item }}</li>
                {% endtrans %}
            {% endfor %}            
        </ul>
    </body>
</html>